<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UB Hackathon X</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body>
  <div class="wrapper">
    <form action="/" method="POST">
      <div class="input-field">
        <input type="text" name="state" value="{{ state }}" required>
        <label>State</label>
      </div>
      <div class="input-field">
        <input type="text" name="city" value="{{ city }}" required>
        <label>City</label>
      </div>
      
      <button type="submit" class="button">Search</button>
    </form>
  </div>
</body>
</html>
